html, body {
  margin: 0;
  padding: 0;
  
}
canvas {
  display: block;
}

@media (orientation: landscape){
  h3{
    color: rgb(255, 255, 255);
  }

  .start{
    position:absolute;
    top: 50%;
    right: 50%;
    width: 50%;
    height: 10%;
  }
  .title{
    position:absolute;
    text-align: center;
  }
  .return{
    position:absolute;
    top: 80%;
    right: 80%;;
  }
  .ok{
    position:absolute;
    top: 80%;
    right: 20%;
  }
  .ex{
    position:absolute;
    top: 50%;
    right: 50%;
  }
  #button_file{
    position:absolute;
    top: 70%;
    right: 50%;
  }
  .tool{
    position:absolute;
    display: inline;
    top: 50%;
    right: 50%;
  }
}


@media (orientation: portrait){
  h3{
    color: rgb(255, 0, 0);
  }

  .start{
    background-color: darkkhaki;
  }
  .title{
    background-color: cornflowerblue;
  }
  #face{
    background-color: crimson;
  }
  .file{
    background-color: cyan;
  }
  .tool{
    background-color: darkblue;
  }
  .menu{
    background-color: darkgoldenrod;
  }
 
}


