html, body {
  margin: 0;
  padding: 0;
  background-color: darkmagenta;
}
canvas {
  display: block;
}

@media (orientation: landscape){

}

@media (orientation: portrait){
  h1{
    color: rgb(255, 0, 0);
  }
  .titleBox{
    background-color: cornflowerblue;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .title{
    padding: 3%;
  }
  #face{
    background-color: crimson;
    text-align: center;
  }
  .toolBox{
    background-color: darkblue;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .tool{
    padding: 2%;
  }
  .ex{
    padding: 2%;
  }
  .menuBox_list{
    background-color: rgb(11, 144, 184);
    display: flex;
    justify-content: space-between;
  }
  .menuBox{
    background: rgb(184, 11, 175);
    width: 30%;
    margin: 0;
    padding: 0; 
    text-align: center; 
  }
  .return{
    padding: 10%;
  }
  .ok{
    padding: 10%;
  }
}


