html, body {
  margin: 0;
  padding: 0;
  background-color: darkmagenta;
}
canvas {
  display: block;
}

@media (orientation: landscape){
  h3{
    color: rgb(255, 255, 255);
  }
  .title{
    background-color: cornflowerblue;
    text-align: center;
  }
  #face{
    background-color: crimson;
    text-align: center;
  }
  .file{
    background-color: cyan;
    text-align: center;
  }
  .tool{
    background-color: darkblue;
    text-align: center;
  }
  .menu{
    background-color: darkgoldenrod;
    text-align: center;
  }
}


@media (orientation: portrait){
  h3{
    color: rgb(255, 0, 0);
  }
  .title{
    background-color: cornflowerblue;
    text-align: center;
    padding: 1px;
  }
  #face{
    background-color: crimson;
    text-align: center;
  }
  .file{
    background-color: cyan;
    text-align: center;
  }
  .tool{
    background-color: darkblue;
    text-align: center;
  }
  .menu{
    background-color: darkgoldenrod;
    text-align: center;
  }
}


